In [54]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy==1.4.16 in d:\program files\py3.8.10\lib\site-packages (1.4.16)
Requirement already satisfied: greenlet!=0.4.17 in d:\program files\py3.8.10\lib\site-packages (from sqlalchemy==1.4.16) (2.0.1)

In [41]:
import pandas as pd
from sqlalchemy import create_engine

In [42]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [43]:
engine.connect()

In [44]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [45]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

Empty DataFrame
Columns: [schemaname, tablename, tableowner, tablespace, hasindexes, hasrules, hastriggers, rowsecurity]
Index: []

In [46]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', nrows=100)

In [47]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [56]:
import sqlalchemy
sqlalchemy.__version__

'1.3.24'