In [23]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in d:\program files\py3.8.10\lib\site-packages (1.4.16)
Requirement already satisfied: greenlet!=0.4.17 in d:\program files\py3.8.10\lib\site-packages (from sqlalchemy) (2.0.1)

In [24]:
import pandas as pd
from sqlalchemy import create_engine

In [25]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [26]:
engine.connect()

In [27]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [28]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_tripdata_trip,root,None,False,False,False,False

In [29]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', nrows=100)

In [30]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [31]:
import sqlalchemy
sqlalchemy.__version__

'1.4.16'

In [32]:
df.to_sql(name='yellow_tripdata_trip', con=engine, index=False)

ValueError: Table 'yellow_tripdata_trip' already exists.

In [33]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 1
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.1,1,N,142,43,2,8.0,3.0,0.5,0.0,0.0,0.3,11.8,2.5

In [12]:
print(pd.io.sql.get_schema(df, 'yellow_taxi', con=engine))

CREATE TABLE yellow_taxi (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)